body {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #f5f7f6, #5ca0f2);
  color: #D7D7EF;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
