.container{

  display: flex;
  flex-wrap: wrap;
}
body {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #f5f7f6, #5ca0f2);
  color: #D7D7EF;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
main {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  color: #D7D7EF;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0 50px;
  flex-direction: row;
  justify-content: space-between;
}
.card-wrapper {
  display: flex;
  max-width: 260px;
  margin: 50px 30px;
  padding: 10px;
  border: 3px solid #fff;
  border-radius: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.card-wrapper .card {
  display: flex;
  flex-direction: column;
}
.card-wrapper .card .card-img-wrapper {
  display: flex;
  justify-content: center;
  height: 250px;
}
.card-wrapper .card .card-img-wrapper .card-img {
  max-height: 250px;
  max-width: 230px;
}
.card-wrapper .card .card-description-wrapper {
  padding: 10px;
  display: flex;
  height: 80px;
  width: 230px;
}
.card-wrapper .card .card-description-wrapper .card-description {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: gray;
  word-wrap: break-word;
  width: 230px;
}
.card-wrapper .card .card-description-wrapper .card-description::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.card-wrapper .card .card-description-wrapper .card-description::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.card-wrapper .card .card-description-wrapper .card-description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: gray;
}
.card-wrapper .card .card-btn-wrapper {
  padding: 10px 0;
  display: flex;
  height: 40px;
  position: relative;
  width: 100%;
  justify-content: right;
}
.card-wrapper .card .card-btn-wrapper .card-btn {
  display: flex;
  margin: 10px;
  border: 2px solid gray;
  align-items: center;
  font-weight: bold;
  color: gray;
  height: 40px;
  background-color: #fff;
  border-radius: 8px;
}
.card-wrapper .card .card-btn-wrapper .card-btn-added {
  display: flex;
  margin: 10px;
  border: 2px solid #fff;
  align-items: center;
  font-weight: bold;
  color: #fff;
  height: 40px;
  background-color: #5ca0f2;
  border-radius: 8px;
}
